@use '../custom' as *;
@use '../components/mixins' as *;



.footer {
    background-color: $black;
    padding: 2rem;
    color: $white;

    p {
        margin: 0;
    }

    .social-icons {
        a {
            color: $white;
            margin: 1rem;
            font-size: 1.5rem;
        }
    }
}